<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
    <div class="row">
        <mat-form-field class="col-3" class="example-full-width">
            <mat-label>User Name</mat-label>
            <input type="text" formControlName="username" matInput>
            <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div> -->
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-3" class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput >
            <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div> -->
        </mat-form-field>
    </div>
    <div class="row justify-content-end">

        <button [disabled]="loading" class="justify-content-end" mat-raised-button type="submit"
            color="primary">Login</button>
    </div>
</form>